body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Light gray background */
}

h1 {
    text-align: center;
    color: #343a40; /* Dark text color */
}

nav {
    background-color: #343a40; /* Dark navbar background color */
    color: #fff; /* Navbar text color */
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #495057; /* Label text color */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da; /* Input border color */
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="date"] {
    appearance: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="submit"] {
    background-color: #007bff; /* Submit button background color */
    color: #fff; /* Submit button text color */
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Hover color for submit button */
}
